*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* styles for the body  */
body{
  margin: 0;
  padding: 0;
  background-color: rgb(222, 143, 5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* quiz-box styles */
.quiz-box{
  background-color: rgb(183, 120, 13);
  padding: 3px;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

/* question  */
#question{
  margin-bottom: 20px;
}

/* options styles */
.options{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* btn styles */
#next-btn{
  padding: 10px 20px;
  border: none;
  background-color:  rgb(222, 143, 5);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* timer styles */
#timer{
  font-size: 25px;
  margin-bottom: 10px;
  color: rgb(136, 4, 151);
}

/* option btn styles */

.option-btn{
  padding: 12px;
  background-color: rgb(222, 143, 5);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.option-btn:hover{
  background-color: rgb(136, 4, 151);
}
